# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# AutoDock output files
*.pdbqt
*.log
*.dpf
*.gpf

# Pytest and coverage reports
.pytest_cache/
.coverage
.coverage.*

# Miscellaneous
.DS_Store
*.swp
*.bak
